@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Itim&display=swap');

/* ##################### nav content ####################### */
.act-about{
    padding: 5px;
    border-radius: 5px;
    background-color: #e9c25f;
}

.act-about i{
    color: #fff;
}

/* ######################## about page  ############################# */
.about{
    max-width:992px;
    margin:50px auto;
    
}
.title{
    text-align:center;
    color:black;
    font-weight: bold;
    font-size: 28px;
   
}
.about-explanation{
    text-align: center;
    font-size:20px;
    font-style: oblique;
    color:black;
}
.rim{
    display:grid;
    grid-template-columns: auto auto auto;
    width:992px;
    height:auto;
    margin:50px auto;
    background-color: #f6b319;
    border-radius: 15px;
}
.media{
    margin-left: 50px;
    padding:50px;
}
iframe{
    width:290px;
    height:200px;
}
audio{
    margin-top:30px;
}
.media-text{
    margin:50px;
    width:300px;
    height:300px;
    color: #000;
}



/* Media Query For Extra Small Device (Small Mobile) */
@media(max-width: 600px){
    .about{
        max-width:400px;
        
    }
    .title{
        font-size:22px;
    }
    .about-explanation{
        font-size:18px;
    }
    .rim{
        max-width:350px;
        max-height:600px;
        display:flex;
        flex-direction:column;
        align-items: center;
        padding-right:40px;
        padding-top: -10px;

    }
    
    .media-text{
        margin-top:-30px;
        padding-left:50px;
    }
}

/* Media Query For  Small Device  (Mobile) */
@media (min-width:600px) and (max-width:767px){
    .about{
        max-width:80%;
    }
    #navi{
        float:none;
    }
    .title{
        font-size:24px;
    }
    .about-explanation{
        font-size:20px;
        
    }
    .rim{
        max-width:100%;
        max-height:700px;
        align-items: center;
        padding-top: -10px;
        


    }
    iframe{
        max-width:200px;
        max-height:450px;
        
    }
    audio{
        max-width:200px;
    }
    .media{
        max-width:50%;
        margin-left:none;
        padding-left:-20px;

    }
    .media-text{
        max-width:180px;
        max-height:300px;
        margin-top:-30px; 
        display:flex;
        font-size: 16;
    }
}


@media (min-width:768px) and (max-width:991px){
    .rim{
        max-width:100%;
    }
    .media-text{
        max-width:250px;
        min-width:200px;
        font-size:16px;
        
    }
    .about{
        max-width:700px;
    }
    
    .title{
        font-size:28px;
    }
    .about-explanation{
        font-size:24px;
        
    }
    .rim{
        max-width:90%;
        max-height:700px;
        align-items: center;
        padding-top: -10px;
        
    }
    iframe{
        max-width: 200px;
        max-height:450px;
        
    }
    audio{
        max-width:200px;
    }
    .media{
        max-width:50%;
        margin-left:none;
        padding-left:-20px;

    }
}